{% extends "base.html" %}
{% load static %}
{% block title %}Skills | Vishal Chak{% endblock %}

{% block content %}
<main class="container my-5 techstack-page">
  <h1 class="text-center mb-4">Skills</h1>

  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4 text-center">
    <div class="col">
      <img src="{% static 'assets/icons/python.png' %}" alt="Python" class="img-fluid mb-2 w-16 mx-auto" />
      <p>Python</p>
    </div>
    <div class="col">
      <img src="{% static 'assets/icons/django-icon.svg' %}" alt="Django" class="img-fluid mb-2 w-16 mx-auto" />
      <p>Django</p>
    </div>
    <div class="col">
      <img src="{% static 'assets/icons/mysql.png' %}" alt="MySQL" class="img-fluid mb-2 w-16 mx-auto" />
      <p>MySQL</p>
    </div>
    <div class="col">
      <img src="{% static 'assets/icons/postgresql.jpg' %}" alt="PostgreSQL" class="img-fluid mb-2 w-16 mx-auto" />
      <p>PostgreSQL</p>
    </div>
    <div class="col">
      <img src="{% static 'assets/icons/mongodb.png' %}" alt="MongoDB" class="img-fluid mb-2 w-16 mx-auto" />
      <p>MongoDB</p>
    </div>
    <div class="col">
      <img src="{% static 'assets/icons/html.png' %}" alt="HTML" class="img-fluid mb-2 w-16 mx-auto" />
      <p>HTML5</p>
    </div>
    <div class="col">
      <img src="{% static 'assets/icons/css.jpg' %}" alt="CSS" class="img-fluid mb-2 w-16 mx-auto" />
      <p>CSS3</p>
    </div>
    <div class="col">
      <img src="{% static 'assets/icons/js.png' %}" alt="JavaScript" class="img-fluid mb-2 w-16 mx-auto" />
      <p>JavaScript</p>
    </div>
    <div class="col">
      <img src="{% static 'assets/icons/jQuery.svg' %}" alt="jQuery" class="img-fluid mb-2 w-16 mx-auto" />
      <p>jQuery</p>
    </div>
    <div class="col">
      <img src="{% static 'assets/icons/tailwindcss.png' %}" alt="Tailwind CSS" class="img-fluid mb-2 w-16 mx-auto" />
      <p>Tailwind CSS</p>
    </div>
    <div class="col">
      <img src="{% static 'assets/icons/react.webp' %}" alt="React" class="img-fluid mb-2 w-16 mx-auto" />
      <p>React JS</p>
    </div>
    <div class="col">
      <img src="{% static 'assets/icons/git.png' %}" alt="Git" class="img-fluid mb-2 w-16 mx-auto" />
      <p>Git</p>
    </div>
    <div class="col">
      <img src="{% static 'assets/icons/github.webp' %}" alt="GitHub" class="img-fluid mb-2 w-16 mx-auto" />
      <p>GitHub</p>
    </div>
    <div class="col">
      <img src="{% static 'assets/icons/postman.jpg' %}" alt="Postman" class="img-fluid mb-2 w-16 mx-auto" />
      <p>Postman</p>
    </div>
  </div>
</main>
{% endblock %}
